body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-style: bold;


}
.rootDiv {

    height: 290px;
    width: 375px;
    border: 1px;
    border-color: #000000;
    border-radius: 10px;
}
.topScreen {
    height: 30%;
    width: 100%;
    background: white;

}
.bottomScreen {
    margin-top: 40px;
    height: 70%;
    width: 100%;
    background: white;
}
#screen {
    width: 100%;
    font-size: 350%;
    color: red;
    pointer-events: none;
    border: 0;
    margin-top: 30px;
    margin-left: 5px;
}
.raws {
    height: 40%;
    width: 100%;


}
.buttonBack {
    height: 100%;
    width: 25%;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.nullBack {
    height: 100%;
    width: 25%;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.btn {
    height: 80px;
    width: 85%;
    font-size: 250%;
    font-style: bold;
    background: #EAEBED;
    border: 1px;
    border-radius: 50%;
}
#nullbtn {
    height: 80px;
    width: 85%;
    font-size: 250%;
    font-style: bold;
    background: #fff;
    border: 1px;
    border-radius: 50%;
}
.equalto {
    height: 80px;
    width: 85%;
    font-size: 250%;
    font-style: bold;
    background: #FF6363;
    border: 1px;
    color: white;
    border-radius: 50%;

}
#buttonC {
    height: 80px;
    width: 85%;
    font-size: 250%;
    font-style: bold;
    background: #EAEBED;
    border: 1px;
    color: orange;
    border-radius: 50%;

}
#buttonBack {
    height: 80px;
    width: 85%;
    font-size: 250%;
    font-style: bold;
    background: #EAEBED;
    border: 1px;
    color: orange;
    border-radius: 50%;
}
#backBtn {
    height: 80px;
    width: 85%;
    font-size: 250%;
    font-style: bold;
    background: #EAEBED;
    border: 1px;
    border-radius: 50%;
}