body{
    margin: 0;
    font-style: bold;
}
.topScreen{
    height: 40%;
    width: 100%;
    background: white
}
.bottomScreen{
    height: 60%;
    width: 100%;
    background: red;
}
.screen{
    width: 100%;
    padding-left: 5%;
    font-size: 1000%;
    color: red;
    margin-top: 20%;
    margin-right: 15px;
    float: right;
    pointer-events: none;
    border: 0
    
    
}
.raws{
    height: 50%;
    width: 100%;
}
.buttonBack{
    height: 100%;
    width: 25%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.btn{
    height: 90%;
    width: 80%;
    font-size: 450%;
    font-style: bold;
    background: #EAEBED;
    border: 1px;
    border-radius: 50%;
}
#equalto{
    height: 90%;
    width: 80%;
    font-size: 450%;
    font-style: bold;
    background: #FF6363;
    border: 1px;
    color: white;
    border-radius: 60%;
    
}
#buttonC{
    height: 90%;
    width: 80%;
    font-size: 450%;
    font-style: bold;
    background: #EAEBED;
    border: 1px;
    color: orange;
    border-radius: 60%;
    
}